<header>
  <img src="../assets/images/Logo sfeir home.svg" onclick="window.location = '/home'" />
  <h1>{{title}}</h1>
</header>
<section>
  <div class="container"> 
    <div class="row">
        <app-home [textHome]= 'text'></app-home>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" data-toggle="pill" role="tab" routerLink="/client" [class.active]="router.url === '/client'">Client</a>
          <a class="nav-link" data-toggle="pill" role="tab" routerLink="/account" [class.active]="router.url === '/account'">Account</a>
          <a class="nav-link" data-toggle="pill" role="tab" routerLink="/operation" [class.active]="router.url === '/operation'">Operations</a>
          <a class="nav-link" data-toggle="pill" role="tab" routerLink="/history" [class.active]="router.url === '/history'">History</a>
        </div>
      </div>
      <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>@Copyright 2019</footer>